{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{award.name}}" method="post">
    <div class="row">
        <div class="col">
            <label for="index">Sr. No.</label>
            <input id="index" type="text" class="form-control" placeholder="index" name="index"
                   value="{{award.index}}">
        </div>
        <div class="col">
            <label for="year">year</label>
            <input id="year" type="text" class="form-control" placeholder="year"
                   name="year" value="{{award.year}}">
        </div>
        <div class="col">
            <label for="age">age</label>
            <input id="age" type="text" class="form-control" placeholder="age" name="age"
                   value="{{award.age}}">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="name">name</label>
            <input id="name" type="text" class="form-control" placeholder="name"
                   name="name" value="{{award.name}}">
        </div>
        <div class="col">
            <label for="movie">movie</label>
            <input id="movie" type="text" class="form-control" placeholder="movie" name="movie"
                   value="{{award.movie}}">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>

</form>
{% endblock %}