{% extends "layout.html" %}
{% block content %}

<div class="card" class="m-5 p-2">
    <h5 class="card-title">{{ award.Index }}</h5>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">Index: {{ award.index }}</li>
        <li class="list-group-item">Year: {{ award.year}}</li>
        <li class="list-group-item">Age: {{ award.age }}</li>
        <li class="list-group-item">Movie: {{ award.movie }}</li>
    </ul>
    <div class="card-body">
        <a href="/edit/{{award.name}}" class="card-link btn btn-primary">edit</a>
    </div>
</div>
<form action="/delete/{{award.name}}" method="post">
    <button type="submit" class="btn btn-danger">Delete</button>
</form>


{% endblock %}